In [1]:
2*3

6

In [2]:
2+2

4

In [32]:
import pandas as pd

In [33]:
songs={'album':['three','four','six','five'],
'length':[245,574,555,667],
'released':[12,34,5,4]}
yes=pd.DataFrame(songs)

In [34]:
yes

   album  length  released
0  three     245        12
1   four     574        34
2    six     555         5
3   five     667         4

In [41]:
songs['album']

['three', 'four', 'six', 'five']

In [31]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [5]:
stats.norm.cdf([5.8,6.3],5.5,0.5)

array([0.72574688, 0.94520071])